
@use '../utils';
@use './catalogItem';

.catalog {
    padding: 1em;
    margin: .5em;
    background-color: rgb(0 0 0 / .05);
    border-radius: 1rem;

    animation: slide 1s ease forwards;
}

.catalog--search {
    @include utils.input-rounded-style();
    max-width: 100%;
    display: block;
    margin: 1em auto;
}

.catalog--list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 175px) );
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}