@use '../utils';


.cartsection {
    @include utils.flex(column);
    padding: .3em .8em;
    background-color: rgb(0 0 0 / .1);
    border-radius: .5rem;
}

.cartsection--section {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}

.cartsection--lecturer {
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
}

.cartsection--enroll {
    @include utils.eliminate_button_style();
    @include utils.button_3d(#f39c12, 3px, 1.3em, .25em, 1px);
    display: block;
    margin: .25em auto;
    background-color: #f39c12;
    font-size: 2rem;
    color: white;
}

.cartsection--times {
    list-style-type: none;
}

.carttime {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}



// <li className='cartsection'>
//     <div className='cartsection--meta'>
//         <p className='cartsection--section'>
//             Sec { section.section }
//         </p>
//         <p className='cartsection--lecturer'>
//             { section.lecturer }
//         </p>

//         <button type='button' className='cartsection--enroll' aria-label='Select this section of course' title='Select this section'
//             onClick={()=> enrollCourseSection(dispatch, name, code, section)} >
//                 Enroll
//         </button>
//     </div>

//     <ol className='cartsection--times'>
//         <li key={key} className='carttime'>
//             <strong>{ getDayOfWeekName(time.dayOfWeek, false)}</strong> From <strong>{ getTimeString(time.beginTime) }</strong> To <strong>{ getTimeString(time.endTime) }</strong>
//         </li>
//     </ol>
// </li>