@use '../utils';

.sectionscourse {
    padding: 1em;
    border-radius: 1.5rem;
    background-color: rgb(0 0 0 / .1);

    @include utils.flex(row, center, center);
    gap: 10px;
    flex-wrap: wrap;

    animation: slide 1s ease forwards;

    &.removing {
        animation: slide-out 1s ease forwards;
    }
}

.sectionscourse--meta {
    flex-grow: 1;
    max-width: 200px;
    text-align: center;
    justify-self: center;
}

.sectionscourse--name {
    font-size: 2.8rem;
    font-weight: 300;
}

.sectionscourse--code {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: .6em 0;
}

.sectionscourse--delete {
    @include utils.eliminate_button_style();
    @include utils.button_3d(#e74c3c);
    background-color: #e74c3c;
    font-size: 2rem;
    color: #fff;
}

.sectionscourse--sections {
    flex-grow: 4;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}